---
import { MapPin } from "lucide-astro";
import Lattes from "../../assets/icons/lattes.svg";
import GitHub from "../../assets/icons/github.svg";
import HobbiesCards from "./HobbiesCards-pt.astro";
---

<section class="mb-10 w-full">
  <div class="justify-top flex flex-1 flex-col items-center pt-12">
    <h1 class="text-6xl">Renan Yudi</h1>

    <div class="text-base font-light">
      <MapPin class="inline-block w-6 align-bottom" />
      São Paulo, Brasil
    </div>
  </div>
</section>
<section class="p-4">
  <h2 class="text-3xl">Sobre</h2>
  <p>
    Sou um <b>desenvolvedor de software</b> com uma grande paixão por tecnologia
    e software de código aberto. Tenho foco em criar soluções que melhoram a vida
    das pessoas e que tornam a tecnologia mais acessível para todos.
  </p>
</section>
<section class="p-4">
  <a
    href="https://github.com/Yudi"
    class="inline-block"
    aria-label="Perfil de Yudi no GitHub"
  >
    <GitHub class="h-6 w-6 opacity-50 transition-opacity hover:opacity-100" />
  </a>
  <a
    href="https://lattes.cnpq.br/3507649024960199"
    class="inline-block"
    aria-label="Currículo Lattes de Yudi"
  >
    <Lattes class="h-6 w-6 opacity-50 transition-opacity hover:opacity-100" />
  </a>
</section>

<section class="p-4">
  <HobbiesCards />
</section>
