---
import { MapPin } from "lucide-astro";
import Lattes from "../../assets/icons/lattes.svg";
import GitHub from "../../assets/icons/github.svg";
import HobbiesCards from "./HobbiesCards.astro";
---

<section class="mb-10 w-full">
  <div class="justify-top flex flex-1 flex-col items-center pt-12">
    <h1 class="text-6xl">Renan Yudi</h1>

    <div class="text-base font-light">
      <MapPin class="inline-block w-6 align-bottom" />
      São Paulo, Brazil
    </div>
  </div>
</section>
<section class="p-4">
  <h2 class="text-3xl">About</h2>
  <p>
    I'm a <b>software developer</b> with a deep passion for technology and open-source
    software. I'm particularly focused on creating solutions that enhance people's
    lives and make technology more accessible to everyone.
  </p>
</section>
<section class="p-4">
  <a
    href="https://github.com/Yudi"
    class="inline-block"
    aria-label="Yudi's GitHub profile"
  >
    <GitHub class="h-6 w-6 opacity-50 transition-opacity hover:opacity-100" />
  </a>
  <a
    href="https://lattes.cnpq.br/3507649024960199"
    class="inline-block"
    aria-label="Yudi's Lattes profile"
  >
    <Lattes class="h-6 w-6 opacity-50 transition-opacity hover:opacity-100" />
  </a>
</section>

<section class="p-4">
  <HobbiesCards />
</section>
