---
import BaseLayoutEn from "../layouts/BaseLayout-en.astro";
---

<BaseLayoutEn>
  <section class="m-auto p-4 max-w-4xl text-center">
    <h1 class="text-4xl font-semibold">404</h1>

    <div class="p-4">
      <p>Page not found</p>

      <a class="btn" href="/">Go to home</a>
    </div>

    <div class="p-4">
      <p>Página não encontrada</p>

      <a class="btn" href="/pt-br">Ir ao início</a>
    </div>
  </section>
</BaseLayoutEn>
