---
import BaseLayoutEn from "../../../layouts/BaseLayout-pt.astro";
import ResourcesList from "../../../components/resources/ResourcesList.astro";
---

<BaseLayoutEn title="Resources">
  <section class="m-auto max-w-4xl p-4">
    <h1 class="text-2xl font-semibold">Recursos</h1>
    <ResourcesList />
  </section>
</BaseLayoutEn>
