---
import ResourcesListItems from "./ResourcesListItems.astro";

const list: Item[] = [
  {
    title: {
      en: "How to setup the Vivo MitraStar modem in bridge mode without losing TV and Phone services",
      "pt-br":
        "Como colocar o modem MitraStar da Vivo em bridge sem perder TV e telefone",
    },
    languages: ["en", "pt-br"],
    date: "2025-01-17",
    url: {
      external: false,
      href: "resources/vivo-mitrastar-bridge",
    },
  },
  {
    title: {
      "pt-br": "Como instalar o Windows 11",
    },
    languages: ["pt-br"],
    date: "2024-06-16",
    url: {
      external: false,
      href: "resources/install-windows-11",
    },
  },
];

export interface Item {
  title: {
    [key: string]: string;
  };
  languages?: string[];
  date?: string;
  url: {
    external: boolean;
    href: string;
  };
}
---

<div class="pt-4">
  <ResourcesListItems list={list} />
</div>
