---
import BaseLayout from "./BaseLayout-pt.astro";
const { frontmatter } = Astro.props;
import { formatDate } from "../components/resources/shared/date.service";
const currentLocale = Astro.currentLocale as string;
---

<BaseLayout title={frontmatter.title}>
  <section class="m-auto max-w-4xl p-4">
    <h1 class="text-2xl font-semibold">{frontmatter.title}</h1>
    <p>{formatDate(frontmatter.date, currentLocale, "PPP")}</p>
    <p><em>{frontmatter.description}</em></p>
    <div class="prose mt-4">
      <slot />
    </div>
  </section>
</BaseLayout>
